[Unit]
Description=Robot API
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/go/src/github.com/eshu0/mybot/rest/rest
