[Unit]
Description=Robot API

[Service]
User=pi
WorkingDirectory=/home/pi/go/src/github.com/eshu0/mybot/rest
ExecStart=/home/pi/go/src/github.com/eshu0/mybot/rest/restserver
Restart=always

[Install]
WantedBy=multi-user.target