<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>
</head>
<body onload="startGame()">

<script>

const KEY_UP = 38;
const KEY_DOWN = 40;
const KEY_LEFT = 37;
const KEY_RIGHT = 39;

function SendCmd(cmd){
    // Create a request variable and assign a new XMLHttpRequest object to it.
    var request = new XMLHttpRequest()

    // Open a new connection, using the GET request on the URL endpoint
    request.open('GET', '/:8080/'+cmd, true)

    // Send request
    request.send()
}



var myGamePiece;

function startGame() {
    //myGamePiece = new component(30, 30, "red", 100, 150);
    myGamePiece = new component(30, 30, "t.png", 10, 150, "image");

    myGameArea.start();
}

var myGameArea = {
        canvas : document.createElement("canvas"),
        start : function() {
            this.canvas.width = 480;
            this.canvas.height = 270;
            this.context = this.canvas.getContext("2d");
            document.body.insertBefore(this.canvas, document.body.childNodes[0]);
            this.frameNo = 0;
            this.interval = setInterval(updateGameArea, 20);
            window.addEventListener('keydown', function (e) {
                e.preventDefault();
                myGameArea.keys = (myGameArea.keys || []);
                myGameArea.keys[e.keyCode] = (e.type == "keydown");
            })
            window.addEventListener('keyup', function (e) {
                myGameArea.keys[e.keyCode] = (e.type == "keydown");
            })
        },
        stop : function() {
            clearInterval(this.interval);
        },    
        clear : function() {
            this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
        }
    }
    
function component(width, height, color, x, y, type) {

    this.type = type;
    if (type == "image") {
        this.image = new Image();
        this.image.src = color;
    }
    this.width = width;
    this.height = height;
    this.speed = 0;
    this.angle = 0;
    this.moveAngle = 0;
    this.x = x;
    this.y = y;    
    this.update = function() {
        ctx = myGameArea.context;

        ctx.save();
        ctx.translate(this.x, this.y);
        ctx.rotate(this.angle);
        //ctx.fillStyle = color;
        //ctx.fillRect(this.width / -2, this.height / -2, this.width, this.height);    
        if (type == "image") {
            ctx.drawImage(this.image, 
                this.width / -2, 
                this.height / -2,
                this.width, this.height);
        } else {
            ctx.fillStyle = color;
            //ctx.fillRect(this.x, this.y, this.width, this.height);
            ctx.fillRect(this.width / -2, this.height / -2, this.width, this.height);    
        }         
        ctx.restore();    
    }
    this.newPos = function() {
        this.angle += this.moveAngle * Math.PI / 180;
        this.x += this.speed * Math.sin(this.angle);
        this.y -= this.speed * Math.cos(this.angle);
    }
}

function updateGameArea() {
    myGameArea.clear();
    if (myGameArea.keys && myGameArea.keys[KEY_LEFT]) {
        moveleft(); 
    }
    if (myGameArea.keys && myGameArea.keys[KEY_RIGHT]) 
    {
        moveright();
    }
    if (myGameArea.keys && myGameArea.keys[KEY_UP]) 
    {
        moveup();
    }
    if (myGameArea.keys && myGameArea.keys[KEY_DOWN]) 
    {
        movedown();
    }
    if (myGameArea.keys && myGameArea.keys[32]) 
    {
        Stop();
    }
    if (myGameArea.keys && myGameArea.keys[67]) 
    {
        Snap();
    }    
    myGamePiece.newPos();
    myGamePiece.update();    
} 

function Stop() {
    SendCmd("Stop")
    myGamePiece.speed =0; 
    myGamePiece.moveAngle = 0;   
}

function moveup() {
    myGamePiece.speed = 1; 
    SendCmd("Forwards")
}

function movedown() {
    myGamePiece.speed = -1; 
    SendCmd("Backwards")

}

function moveleft() {
    myGamePiece.moveAngle = -1;
    myGamePiece.speed =0;    
    SendCmd("SpinLeft")

}

function moveright() {
    myGamePiece.moveAngle = 1;
    myGamePiece.speed =0; 

    SendCmd("SpinRight")
}

function Snap() {
    SendCmd("Capture")
}

</script>
<div style="text-align:center;width:480px;">
    <button onclick="Stop()">STOP</button><br><br>    
  <button onclick="moveup()">UP</button><br><br>
  <button onclick="moveleft()">LEFT</button>
  <button onclick="moveright()">RIGHT</button><br><br>
  <button onclick="movedown()">DOWN</button><br><br>
  <button onclick="Snap()">SNAP</button>  
</div>

</body>
</html>
