<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Custom Template for REST API Calls</title>
</head>
<body>
  <h1>Available REST API Calls</h1>
  <h2>This is a custom HTML template</h2>
  <h2>Custom</h2>{{range .Handlers}}<div>
  <a href="{{ .URL }}">{{ .HTTPMethod }} {{ .URL }} will call {{ .FunctionalClass }}->{{ .MethodName }} </a>
  </div>{{else}}<div><strong>None</strong></div>
  {{end}}
  <h2>Default</h2>
  {{range .DefaultHandlers}}<div><a href="{{ .URL }}">{{ .MethodName }}</a></div></div>
  {{else}}<div><strong>No Handlers</strong></div>{{end}}
</body>
</html>
